@using HookahCulture.Common
@using HookahCulture.Data.Models;
@model HookahCulture.Web.ViewModels.Home.IndexViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;

@{ var currentUser = await this.userManager.GetUserAsync(this.User);
    string profilePictureLocation = "~/images/ProfilePictures/" + currentUser.ProfilePicturePath;
}


<!DOCTYPE html>
<html lang="en">
<body>
    <div id="page-contents">
        <div class="container">
            <div class="row">
                <!-- Newsfeed Common Side Bar Left
                ================================================= -->
                <div class="col-md-3 static">
                    <div class="profile-card">
                        <img src="@profilePictureLocation" asp-append-version="true" alt="user" class="profile-photo" />
                        <h5><a href="/Timeline/PersonalTimeLine" class="text-white">@currentUser.FirstName @currentUser.LastName</a></h5>
                        <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
                    </div><!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="icon ion-ios-paper"></i><div><a href="/Timeline/PersonalTimeLine">My Newsfeed</a></div></li>
                        <li><i class="icon ion-ios-people"></i><div><a href="newsfeed-people-nearby.html">People Nearby</a></div></li>
                        <li><i class="icon ion-ios-people-outline"></i><div><a href="newsfeed-friends.html">Friends</a></div></li>
                        <li><i class="icon ion-chatboxes"></i><div><a href="newsfeed-messages.html">Messages</a></div></li>
                        <li><i class="icon ion-images"></i><div><a href="newsfeed-images.html">Images</a></div></li>
                        <li><i class="icon ion-ios-videocam"></i><div><a href="newsfeed-videos.html">Videos</a></div></li>
                    </ul><!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">
                            <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="John Doe"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Anna Young"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                        </ul>
                    </div><!--chat block ends-->
                </div>

                <div class="col-md-7">

                    <!-- Post Create Box
                    ================================================= -->
                    <form enctype="multipart/form-data" class="create-post" asp-controller="Post" asp-action="Create">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
                                    <textarea name="text" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="tools">
                                    <input asp-for="PostCreationPictureUpload" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" asp-controller="Post" asp-action="Create" formmethod="post" class="btn btn-primary pull-right">Publish</button>
                    </form><!-- Post Create Box End-->
                    <!-- Post Content
                    ================================================= -->
                    @foreach (var post in Model.Posts)
                    {

                        var photoPath = "~/images/" + post.ImagePath;

                        <div class="post-content">
                            <div class="post-container">
                                <img src="~/images/ProfilePictures/@post.User.ProfilePicturePath" asp-append-version="true" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="/Timeline/PersonalTimeLine" class="profile-link">@post.User.FirstName @post.User.LastName</a> <span class="following">following</span></h5>
                                        <p class="text-muted">Post published at: @post.CreatedOn</p>
                                    </div>
                                    <div class="reaction">
                                        <a class="btn text-green" method="post" onclick="sendVote(@post.Id, true)"><div class="icon ion-thumbsup" id="upVotes_@post.Id">@post.UpVotes</div></a>
                                        <a class="btn text-red" method="post" onclick="sendVote(@post.Id, false)"><div class="fa fa-thumbs-down" id="downVotes_@post.Id">@post.DownVotes</div></a>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p>@post.Text</p>
                                    </div>
                                    @if (!string.IsNullOrEmpty(post.ImagePath))
                                    {
                                        <img src=@photoPath asp-append-version="true" width="500" height="500" alt="post-image" class="img-responsive post-image imageThumbnail" />
                                    }
                                    <div class="line-divider"></div>
                                    @if (post.Comments.Count == 0)
                                    {
                                        <button class="alert alert-success" role="alert">
                                            Be the first one to post a comment!
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="form-control" onclick="showCommentsFunction(@post.Id)" style="">Show All Comments</button>
                                    }
                                    <div class="line-divider"></div>
                                    <div id="@post.Id" style="display: none">
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="post-comment">
                                                <img src="~/images/ProfilePictures/@comment.User.ProfilePicturePath" alt="" class="profile-photo-sm" />
                                                <p id="returnTextHere"><a href="timeline.html" class="profile-link">@comment.User.FirstName @comment.User.LastName</a><i></i> @comment.Text</p>
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        <form id="myForm_@post.Id" class="myform" asp-controller="Comment" asp-action="Create" method="post">
                                            <input type="hidden" name="PostId" id="postId" value="@post.Id" />
                                            <textarea name="text"></textarea>
                                            <input type="submit" onclick="sendComment(@post.Id)" value="Submit Comment" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <nav>
                        <ul class="pagination justify-content-center">
                            @if (this.Model.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-route="routeWithPaging"
                                       asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (int i = 1; i <= this.Model.PagesCount; i++)
                            {
                                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                                <li class="page-item @active">
                                    <a class="page-link"
                                       asp-route-page="@i">@i</a>
                                </li>
                            }

                            @if (this.Model.CurrentPage == this.Model.PagesCount)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-route="routeWithPaging"
                                       asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>



        <!--preloader-->
        <div id="spinner-wrapper">
            <div class="spinner"></div>
        </div>
        <!-- Scripts
        ================================================= -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.sticky-kit.min.js"></script>
        <script src="~/js/jquery.scrollbar.min.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/jquery.form.js"></script>
</body>
</html>

@section Scripts {
    <script>
        function showCommentsFunction(postId) {
            var x = document.getElementById(postId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            };
        }

        function sendVote(postId, isUpVote) {
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/vote",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#upVotes_" + postId).html(data.upVotes);
                    $("#downVotes_" + postId).html(data.downVotes);
                }
            });

        }

        function sendComment(postId) {
            $("#myForm_" + postId).ajaxForm(function () {
                alert("You have posted a comment successfully!");
                document.location.reload(true);
            });
        }
    </script>
}





