@using HookahCulture.Data.Models;
@using System.Globalization;
@model HookahCulture.Web.ViewModels.Chat.ChatViewModel;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;

@{
    var currentUser = await this.userManager.GetUserAsync(this.User);
    this.ViewBag.Title = "Live Chat";
}

<h1>@this.ViewBag.Title</h1>

<div id="page-contents">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
            ================================================= -->
            <div class="col-md-3 static">
                <div class="profile-card">
                    <img src="~/images/ProfilePictures/@currentUser.ProfilePicturePath" alt="user" class="profile-photo" />
                    <h5><a href="/Timeline/PersonalTimeline?timelineId=@currentUser.TimelineId" class="text-white">@currentUser.FirstName @currentUser.LastName</a></h5>
                    <a href="#" class="text-white"><i></i></a>
                </div><!--profile card ends-->
                <ul class="nav-news-feed">
                    <li><i class="icon ion-ios-paper"></i><div><a style="color:antiquewhite" href="/Timeline/PersonalTimeline?timelineId=@currentUser.TimelineId">My Newsfeed</a></div></li>
                    <li><i class="icon ion-chatboxes"></i><div><a style="color:antiquewhite" href="/Chat/Chat">Chat Room</a></div></li>
                    <li><i class="icon ion-images"></i><div><a style="color:antiquewhite" href="/Gallery/Index">Gallery</a></div></li>
                </ul><!--news-feed links ends-->
            </div>

            <div class="col-md-7">

                <!-- Chat Room
                ================================================= -->
                <div class="chat-room">
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-7">
                            <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer" id="scrollBarCustom">
                                <div class="tab-pane active" id="contact-1">
                                    @foreach (var message in Model.ChatMessages)
                                    {
                                        <div class="chat-body">
                                            <ul class="chat-message">
                                                <li class="left">
                                                    <img src="../images/ProfilePictures/@message.ProfilePicturePath" alt="user" height="40" width="40" class="profile-photo-sm pull-left" />
                                                    <div class="chat-item">
                                                        <div class="chat-item-header">
                                                            <h5 style="color:white">@message.FullName</h5>
                                                            <time datetime="@DateTime.Parse(message.CreatedOn).ToString("O")" class="text-muted" style="color:antiquewhite"></time>
                                                        </div>
                                                        <p style="color:antiquewhite">@message.Message</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    <div class="chat-body">
                                        <ul class="chat-message">
                                            <li class="left" style="color:ghostwhite" id="messagesList"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--Chat Messages in Right End-->
                            <div id="message-holder" class="send-message">
                                <input type="hidden" id="displayname" value="@currentUser.FirstName @currentUser.LastName" />
                                <input type="hidden" id="userId" value="@currentUser.Id" />
                                <input type="hidden" id="createdOn" value="@DateTime.UtcNow.ToString()" />
                                <input class="form-control" type="text" id="messageInput" placeholder="Type your message" />
                                <input type="hidden" id="profilePicturePath" value="@currentUser.ProfilePicturePath" />
                                <span class="input-group-btn">
                                    <button type="submit" id="sendButton" onclick="document.getElementById('messageInput').value = ''" name="sendButton" class="btn btn-default">Send</button>
                                </span>
                            </div>
                            <hr style="height: 5px;" class="bg-dark" />
                            <div id="messagesList" style="font-size: 28px;">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>



@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();
        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<li class="left">
                                                 <img src="../images/ProfilePictures/${escapeHtml(message.profilePicturePath)}" alt="user" height="40" width="40" class="profile-photo-sm pull-left" />
                                                  <div class="chat-item">
                                                    <div class="chat-item-header">
                                                     <h5 style="color:white">${escapeHtml(message.name)}</h5>
                                                        <time class="text-muted" style="color:antiquewhite">@DateTime.Now.ToString("f", CultureInfo.InvariantCulture)</time>
                                                    </div>
                                                   <p>${escapeHtml(message.text)}</p>
                                                   </div>
                                                   </li>`;
                $("#messagesList").append(chatInfo);
            });
        $("#sendButton").click(function () {
            var fullname = $("#displayname").val();
            var message = $("#messageInput").val();
            var profilePicturePath = $("#profilePicturePath").val();
            var timeSend = $("#createdOn").val();
            connection.invoke("Send", fullname, message, profilePicturePath, timeSend);
        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        $(document).ready(function () {
            $("#messageInput").keypress(function (e) {
                if (e.keyCode == 13)
                    $("#sendButton").click();
            });
        });

        window.setInterval(function() {
  var elem = document.getElementById('scrollBarCustom');
  elem.scrollTop = elem.scrollHeight;
}, 700);

    </script>
}
