@using HookahCulture.Web.ViewModels;
@using HookahCulture.Data.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@model HookahCulture.Web.ViewModels.Gallery.GalleryViewModel;

@{ var currentUser = await this.userManager.GetUserAsync(this.User);}

<body>

    <div id="page-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 static">
                    <div class="profile-card">
                        <img src="~/images/ProfilePictures/@currentUser.ProfilePicturePath" alt="user" class="profile-photo" />
                        <h5><a href="/Timeline/PersonalTimeLine?timelineId=@currentUser.TimelineId" class="text-white">@currentUser.FirstName @currentUser.LastName</a></h5>
                        <a href="#" class="text-white"></a>
                    </div><!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="icon ion-ios-paper"></i><div><a style="color:antiquewhite" href="/Timeline/PersonalTimeline?timelineId=@currentUser.TimelineId">My Newsfeed</a></div></li>
                        <li><i class="icon ion-chatboxes"></i><div><a style="color:antiquewhite" href="/Chat/Chat">Chat Room</a></div></li>
                        <li><i class="icon ion-images"></i><div><a style="color:antiquewhite" href="/Gallery/Index">Gallery</a></div></li>
                    </ul><!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">
                            <div class="alert-info">Recently Registered Users!</div>
                            @foreach (var user in Model.RecentlyRegisteredUsers)
                            {
                                <li><a href="/Timeline/PersonalTimeline?timelineId=@user.TimelineId" title="@user.FirstName @user.LastName"><img src="~/images/ProfilePictures/@user.ProfilePicturePath" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            }
                        </ul>
                    </div><!--chat block ends-->
                </div>

                <div class="col-md-7">
                    <div class="alert alert-success" role="alert"> Pictures waiting for approval: </div>
                    <!-- Media
                    ================================================= -->
                    <div class="media">
                        <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
                            <div class="grid-sizer col-md-6 col-sm-6"></div>

                            @foreach (var image in Model.Images)
                            {
                                <div class="grid-item col-md-6 col-sm-6">
                                    <div class="media-grid">
                                        <div class="img-wrapper" data-toggle="modal" data-target=".modal-1_@image.Id">
                                            <img src="~/images/Gallery/@image.ImagePath" alt="" class="img-responsive post-image" />
                                        </div>
                                        <div class="media-info">
                                        </div>

                                        <form class="approve-image" asp-area="Administration" asp-controller="Gallery" asp-action="Approve" method="post">
                                            <div class="row">
                                            </div>
                                            <button type="submit" asp-area="Administration" asp-controller="Gallery" asp-action="Approve" asp-route-imageId="@image.Id" formmethod="post" class="btn btn-primary pull-right">Approve</button>
                                        </form>

                                        
                                        <!--Popup-->
                                        <div class="modal fade modal-1_@image.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="post-content">
                                                        <img src="~/images/Gallery/@image.ImagePath" alt="post-image" class="img-responsive post-image" />
                                                        <div class="post-container">
                                                            <div class="post-detail">
                                                                <div class="user-info">
                                                                    <h5><a href="/Timeline/PersonalTimeLine?timelineId=@image.UserTimeLineId" class="profile-link">Uploaded by: @image.UserWhoUploaded</a></h5>
                                                                </div>
                                                                <div class="line-divider"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--Popup End-->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/jquery.scrollbar.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/jquery.form.js"></script>
</body>
