@using HookahCulture.Data.Models;
@model HookahCulture.Web.ViewModels.PersonalTimeline.PersonalTimelineInputViewModel;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;

@{
    string profilePictureLocation = "~/images/ProfilePictures/" + Model.User.ProfilePicturePath;
    string coverPhotoLocation = "~/images/CoverPhotos/" + Model.User.ProfileCoverPath;
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover">
                @if (Model.User.ProfileCoverPath == null)
                {
                    <img src="~/images/CoverPhotos/coverExample.png" asp-append-version="true" alt="" class="img-responsive timeline-cover" />
                }
                else
                {
                    <img src=@coverPhotoLocation asp-append-version="true" alt="" class="img-responsive timeline-cover" />
                }
                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                @if (Model.User.ProfilePicturePath == null)
                                {
                                    <img src="~/images/ProfilePictures/exampleProfilePicture.png" asp-append-version="true" alt="" class="img-responsive profile-photo" />
                                }
                                else
                                {
                                    <img src=@profilePictureLocation asp-append-version="true" alt="" class="img-responsive profile-photo" />
                                }
                                <h3>@Model.User.FirstName @Model.User.LastName</h3>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li><a href="/Home/Index" class="active">Newsfeed</a></li>
                            </ul>
                            <ul class="follow-me list-inline">
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Timeline Menu for Large Screens End-->
            </div>

            @if (Model.User.Id == this.userManager.GetUserId(this.User))
            {
                <form enctype="multipart/form-data" class="create-post" asp-controller="Timeline">
                    <button type="submit" asp-controller="Timeline" asp-action="UploadCoverPhoto" formmethod="post" class="btn btn-primary pull-right">
                        Upload Cover Photo
                        <input asp-for="CoverPhoto" />
                    </button>
                    <button type="submit" asp-controller="Timeline" asp-action="UploadProfilePicture" formmethod="post" class="btn btn-primary pull-right">
                        Upload Profile Picture
                        <input asp-for="ProfilePicture" />
                    </button>
                </form>
            }
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <!-- Post Create Box
                        ================================================= -->
                        @if (Model.User.Id == this.userManager.GetUserId(this.User))
                        {
                            <form enctype="multipart/form-data" class="create-post" asp-controller="Post" asp-action="Create">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @if (Model.User.ProfilePicturePath == null)
                                            {
                                                <img src="~/images/ProfilePictures/exampleProfilePicture.png" asp-append-version="true" alt="" class="profile-photo-md" />
                                            }
                                            else
                                            {
                                                <img src="@profilePictureLocation" asp-append-version="true" alt="" class="profile-photo-md" />
                                            }
                                            <textarea name="text" id="exampleTextarea" maxlength="250" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="tools">
                                            <input asp-for="PostCreationPictureUpload" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" asp-controller="Post" asp-action="Create" formmethod="post" class="btn btn-primary pull-right">Publish</button>
                            </form>
                        }
                        else
                        {
                            <p>
                                &nbsp;
                                &nbsp;
                            </p>
                        }
                        <!-- Post Create Box End-->
                        <!-- Post Content
                        ================================================= -->
                        <div class="post-content">
                            <!--Post Date-->
                            <div class="post-date hidden-xs hidden-sm">
                                <h5>@Model.User.FirstName</h5>
                                @foreach (var post in Model.Posts)
                                {
                                    <p class="text-grey" style="color:antiquewhite">@post.CreatedOn.ToShortDateString()</p>
                                }
                            </div>
                            <!--Post Date End-->

                            @foreach (var post in Model.Posts)
                            {
                                var photoPath = "~/images/" + post.ImagePath;

                                <div class="post-content">
                                    <div class="post-container">
                                        @if (post.User.ProfilePicturePath == null)
                                        {
                                            <img src="~/images/ProfilePictures/exampleProfilePicture.png" asp-append-version="true" alt="" class="profile-photo-md pull-left" />
                                        }
                                        else
                                        {
                                            <img src="@profilePictureLocation" asp-append-version="true" alt="" class="profile-photo-md pull-left" />

                                        }
                                        <div class="post-detail">
                                            <div class="user-info">
                                                <h5><a href="timeline.html" class="profile-link">@post.User.FirstName @post.User.LastName</a> <span class="following"></span></h5>
                                                <p class="text-muted"> Post published at: <time datetime="@post.CreatedOn.ToString("O")"></time></p>
                                            </div>
                                            <div class="reaction">
                                                <a class="btn text-green" method="post" onclick="sendVote(@post.Id, true)"><div class="icon ion-thumbsup" id="upVotes_@post.Id">@post.UpVotes</div></a>
                                                <a class="btn text-red" method="post" onclick="sendVote(@post.Id, false)"><div class="fa fa-thumbs-down" id="downVotes_@post.Id">@post.DownVotes</div></a>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="post-text">
                                                <p>@post.Text</p>
                                            </div>
                                            @if (!string.IsNullOrEmpty(post.ImagePath))
                                            {
                                                <img src=@photoPath asp-append-version="true" width="500" height="500" alt="post-image" class="img-responsive post-image imageThumbnail" />
                                            }
                                            <div class="line-divider"></div>
                                            @if (post.Comments.Count == 0)
                                            {
                                                <button class="alert alert-success" role="alert">
                                                    Be the first one to post a comment!
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="form-control" onclick="showCommentsFunction(@post.Id)" style="">Show All Comments</button>
                                            }
                                            <div class="line-divider"></div>
                                            <div id="@post.Id" style="display: none">
                                                @foreach (var comment in post.Comments)
                                                {
                                                    <div class="post-comment">
                                                        @if (comment.User.ProfilePicturePath == null)
                                                        {
                                                            <img src="~/images/ProfilePictures/exampleProfilePicture.png" asp-append-version="true" alt="" class="profile-photo-sm" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/ProfilePictures/@comment.User.ProfilePicturePath" asp-append-version="true" alt="" class="profile-photo-sm" />
                                                        }
                                                        <p id="returnTextHere"><a href="/Timeline/PersonalTimeline?timelineId=@comment.User.TimelineId" class="profile-link">@comment.User.FirstName @comment.User.LastName</a><i></i> @comment.Text</p>
                                                    </div>
                                                    @if (Model.User.Id == this.userManager.GetUserId(this.User))
                                                    {
                                                        <div>
                                                            <form class="pull-right" asp-controller="Comment" asp-action="Delete" method="post">
                                                                <input type="hidden" name="commentId" id="commentId" value="@comment.Id" />
                                                                <input type="hidden" name="timelineId" id="timelineId" value="@Model.User.TimelineId" />
                                                                <button class="pull-right btn btn-danger" asp-controller="Comment" asp-action="Delete" type="submit">Delete Comment</button>
                                                            </form>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div>
                                                <form id="myForm_@post.Id" class="myform" asp-controller="Comment" asp-action="Create" method="post">
                                                    <input type="hidden" name="PostId" id="postId" value="@post.Id" />
                                                    <textarea name="text" maxlength="250"></textarea>
                                                    <input class="btn btn-primary" type="submit" onclick="sendComment(@post.Id)" value="Submit Comment" />
                                                </form>
                                            </div>
                                            @if (Model.User.Id == this.userManager.GetUserId(this.User))
                                            {
                                                <div>
                                                    <form class="pull-right" asp-controller="Post" asp-action="Delete" method="post">
                                                        <input type="hidden" name="PostId" id="postId" value="@post.Id" />
                                                        <input type="hidden" name="timelineId" id="timelineId" value="@Model.User.TimelineId" />
                                                        <button class="pull-right btn btn-danger" asp-controller="Post" asp-action="Delete" type="submit">Delete Post</button>
                                                    </form>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination justify-content-center">
                    @if (this.Model.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-route="routeWithPaging"
                               asp-route-timelineId="@Model.User.TimelineId"
                               asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= this.Model.PagesCount; i++)
                    {
                        var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active">
                            <a class="page-link"
                               asp-route-timelineId="@Model.User.TimelineId"
                               asp-route-page="@i">@i</a>
                        </li>
                    }

                    @if (this.Model.CurrentPage == this.Model.PagesCount)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-route="routeWithPaging"
                               asp-route-timelineId="@Model.User.TimelineId"
                               asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>

            <!--preloader-->
            <div id="spinner-wrapper">
                <div class="spinner"></div>
            </div>

            <!-- Scripts
            ================================================= -->
            <script src="js/jquery-3.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.sticky-kit.min.js"></script>
            <script src="js/jquery.scrollbar.min.js"></script>
            <script src="js/script.js"></script>
            <script src="~/js/jquery.form.js"></script>

</body>
</html>

@section Scripts {
    <script>
        function showCommentsFunction(postId) {
            var x = document.getElementById(postId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            };
        }

        function sendVote(postId, isUpVote) {
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/vote",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#upVotes_" + postId).html(data.upVotes);
                    $("#downVotes_" + postId).html(data.downVotes);
                }
            });

        }

        function sendComment(postId) {
            $("#myForm_" + postId).ajaxForm(function () {
                alert("You have posted a comment successfully!");
                document.location.reload(true);
            });
        }
    </script>
}

